# ==============================
# OpenAI (for agent)
# ==============================
OPENAI_API_KEY=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

# ==============================
# MCP
# ==============================
MCP_SERVER_URL=http://localhost:8001/mcp/invoke

# ==============================
# Aptos Network
# ==============================
APTOS_NODE_URL=https://fullnode.testnet.aptoslabs.com/v1
APTOS_FAUCET_URL=https://faucet.testnet.aptoslabs.com

# ==============================
# Your deployed Move module address
# (same as Move.toml GECChain address)
# ==============================
MODULE_ADDRESS=0xd7278336a3489e8df472c5430c2a10f801dd7faac604d26af1b8e1ca41b34b3e

# ==============================
# Registry and marketplace
# ==============================
CERT_REGISTRY_ADDR=0xd7278336a3489e8df472c5430c2a10f801dd7faac604d26af1b8e1ca41b34b3e
MARKET_ADDR=0xd7278336a3489e8df472c5430c2a10f801dd7faac604d26af1b8e1ca41b34b3e

# ==============================
# Transaction signer (server wallet)
# ==============================
APTOS_SENDER_ADDRESS=0xd7278336a3489e8df472c5430c2a10f801dd7faac604d26af1b8e1ca41b34b3e
APTOS_SENDER_PRIVATE_KEY_HEX=0x849c6e6ff30dece9cfb87156ff1b28a947739f981a1e0d56f73a87efe47d9a82
MCP_TOOLS_URL=http://localhost:8001/mcp/tools
VECTOR_DIR=./vectorstore
DOCS_DIR=../docs
